@import "tailwindcss";
@plugin "../vendor/daisyui/daisyui.index.js" {
    themes: light --default, dark --prefersdark, cupcake, abyss, business, corporate, synthwave;
}

body {
    .border-primary .ts-control {
        border-color: #3b82f6 !important;
    }
    .border-success .ts-control {
        border-color: #22c55e !important;
    }
    .ts-wrapper, .ts-wrapper.single, .ts-wrapper.single.input-active, .ts-wrapper.multi {

        .ts-control {
            background: var(--color-base-100);
            box-shadow: none;
            border-radius: var(--radius-field);
            border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
            border-width: var(--border);
            color: var(--color-base-content);

            input {
                color: var(--color-base-content);
            }
        }

        .ts-dropdown, .ts-dropdown .active {
            background: var(--color-base-100);
            box-shadow: none;
            border-radius: var(--radius-field);
            border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
            color: var(--color-base-content);
        }
    }

    /*règle spéciale pour les select multi*/
    .ts-wrapper.multi.plugin-remove_button:not(.rtl) {
        .ts-control {
            .item .remove {
                border-left: 1px solid var(--color-base-content);
            }

            .item[data-value] {
                box-shadow: none;
                border-radius: var(--radius-field);
                background: var(--color-base-100);
                border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
                color: var(--input-color);
                text-shadow: none;
                @apply badge badge-soft
            }
        }
    }
}